.popup__profile {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 358px;
  width: 100%;
  outline-style: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 530px) {
    .popup__profile {
      max-width: 290px;
    }
  }
    
  @media screen and (max-width: 430px) {
    .popup__profile {
      max-width: 238px;
    }
  }